* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.container .item {
    padding: 2rem;
}

.item .date {
    font-weight: bold;
}

.item ul,
.item li {
    padding: 1rem 0;
}

li .title {
    font-size: 1.3rem;
}

li .author {
    font-size: 1.2rem;
    font-weight: bold;
}

li .text {
    color: grey;
}